<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="myChart" width="400" height="400"></canvas>

    <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
